<h1>Listing claimants</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @claimants.each do |claimant| %>
  <tr>
    <td><%= claimant.first_name %></td>
    <td><%= claimant.last_name %></td>
    <td><%= link_to 'Show', claimant %></td>
    <td><%= link_to 'Edit', edit_claimant_path(claimant) %></td>
    <td><%= link_to 'Destroy', claimant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Claimant', new_claimant_path %>
