<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @claimant.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @claimant.last_name %>
</p>


<%= link_to 'Edit', edit_claimant_path(@claimant) %> |
<%= link_to 'Back', claimants_path %>
