<h1>Listing claim_submissions</h1>

<table>
  <tr>
    <th>Claim</th>
    <th>Claimant</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @claim_submissions.each do |claim_submission| %>
  <tr>
    <td><%= claim_submission.claim %></td>
    <td><%= claim_submission.claimant %></td>
    <td><%= link_to 'Show', claim_submission %></td>
    <td><%= link_to 'Edit', edit_claim_submission_path(claim_submission) %></td>
    <td><%= link_to 'Destroy', claim_submission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Claim submission', new_claim_submission_path %>
